@import '../../styles/abstracts/colors';

[data-theme='light'] {
  --Button-background-color: #{$color-black};
  --Button-color: #{$color-white};
}

[data-theme='dark'] {
  --Button-background-color: #{$color-white};
  --Button-color: #{$color-black};
}

.Button {
  height: 48px;
  border: 0;
  padding: 0 2rem;
  background-color: var(--Button-background-color);
  color: var(--Button-color);
  text-decoration: none;

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &:active:not(:disabled) {
    cursor: pointer;
  }
}
