@import "./abstracts/colors";

[data-theme="light"] {
  --global-background-color: #{$color-white};
  --global-color: #{$color-blue-gray-800};
}

[data-theme="dark"] {
  --global-background-color: #{$color-blue-gray-800};
  --global-color: #{$color-blue-gray-100};
}

body {
  background-color: var(--global-background-color);
  color: var(--global-color);
  font-family: sans-serif;
}
