@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/variables';

[data-theme='light'] {
  --PageHeader-background-color: #{$color-white};
  --PageHeader-box-shadow: 0 3px 6px #{$color-gray-300};
}

[data-theme='dark'] {
  --PageHeader-background-color: #{$color-blue-gray-700};
  --PageHeader-box-shadow: none;
}

.PageHeader {
  grid-area: header;
  gap: $spacing-medium;
  height: 75px;
  background-color: var(--PageHeader-background-color);
  box-shadow: var(--PageHeader-box-shadow);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: $spacing-medium;
  box-sizing: border-box;
}

.fluid {
  max-width: none;
  padding: $spacing-medium $spacing-large;
}

.floating {
  border-radius: 5px;
  margin: $spacing-medium;
}
