@import '../../styles/abstracts/colors';

[data-theme='light'] {
  --NavItem-color: #{$color-blue-gray-700};
}

[data-theme='dark'] {
  --NavItem-color: #{$color-gray-300};
}

.NavItem {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    color: var(--NavItem-color);
    text-decoration: none;
  }
}
