@import '../../styles/abstracts/colors';

[data-theme='light'] {
  --NavItem-color: #{$color-blue-gray-700};
  --NavItem-hover-color: #{$color-blue-gray-900};
}

[data-theme='dark'] {
  --NavItem-color: #{$color-gray-300};
  --NavItem-hover-color: #{$color-gray-100};
}

.NavItem {
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style-type: none;

  a {
    padding: 8px 0;
    color: var(--NavItem-color);
    text-decoration: none;

    &:hover {
      padding-bottom: 5px;
      border-bottom: 3px solid $color-blue;
      color: var(--NavItem-hover-color);
    }
  }
}
