@import '../../styles/abstracts/colors';

[data-theme='light'] {
  --Input-background-color: #{$color-white};
  --Input-border-color: #{$color-black};
}

[data-theme='dark'] {
  --Input-background-color: #{$color-black};
  --Input-border-color: #{$color-white};
}

.Input {
  height: 48px;
  width: 100%;
  padding: 0 16px;
  border: 2px solid;
  border-color: var(--Input-border-color);
  box-sizing: border-box;
  background-color: var(--Input-background-color);
  color: inherit;
  font-size: 1rem;

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    outline: none;
    border-color: $color-blue;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.Error {
  border-color: $color-red;
}
